// Variables

$zLite: 0 1px 1.5px 1px rgba(0,0,0,.12);
$zFlow: 0px 3px 10px rgba(192, 192, 192, 0.6);

$blue: #3498db;
$red: rgb(237, 76, 64);
$grey: #607D8B;
$lightGreen: rgba(81, 187, 141, 1);
$darkGreen: #4caf50;
$orange: #FF9800;
$darkOrange: #ff5722;

$primary: $lightGreen;

// Shared Styles

button, .btn {
  cursor: pointer;
}

hr {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
  max-width: 360px;
}

input.form-control {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  box-shadow: $zLite;
  border: 0;
}

input::placeholder {
  color: #b1b1b1;
  font-family: Roboto;
}

.tapLabel {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  background: #f8f8f8;
  font-size: 0.8em;
  padding: 0.2em 0.8em;
  color: #888;
}

.z1 {
  position: relative;
  // text-align: center;
  padding: 1.5em 2em;
  margin-bottom: 1.5em;

  background: white;
  box-shadow: $zLite;
  border-bottom: 2px solid $primary;
}

.btn {
  color: #555;
  background: white;
  font-family: Roboto;
  box-shadow: $zLite;
}

.btn-light {
  color: #efefef;
  background: $primary;

  &:focus, &:active, &:hover {
    background: white;
    background: darken($primary, 5%);
  }
}

.btn:focus, .btn:active, .btn:hover {
  box-shadow: $zFlow;
}

.form-control:focus, .form-control:active {
  box-shadow: $zFlow;
  border-bottom: 2px solid $primary;
}

.btn.b1 {
  margin-right: 1em;
}
